.list-documents-title-container {
    @apply flex items-center justify-between;
}

.header {
    @apply w-full flex justify-between items-center text-grey-300;
}

.list-documents-container {
    @apply flex flex-col w-full h-full
    px-4 py-2 lg:px-[32px] lg:py-[40px];
    border-radius: 6px;
    border: 1px solid #D0D2D6;
    gap: 8px;
}
.list-first-column {
    @apply col-span-6 sm:col-span-8 lg:col-span-9;
}
.list-second-column {
    @apply col-span-5 sm:col-span-3 lg:col-span-2;
}

.list-third-column {
    @apply col-span-1;
}
.divider {
    @apply border-b border-gray-200;
}

.list-documents-header {
    @apply grid grid-cols-12 gap-4 items-center py-2;
    padding: 0px 16px 20px 16px;
}
.document-item {
    @apply  items-center py-4;
    padding: 20px 0px 20px 16px;
}